* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 203, 253);
}
.card {
    width: min-content;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(0, 0, 0, .04);
    transition: .4s ease;
}
.card:hover {
    transform: scale(1.05);

}
.card .card-image {
    width: 280px;
    height: 280px;
    padding: 20px;
    text-align: center;
    background-color: rgb(10, 146, 146);
    border-radius: 12px;
}
.card .card-image img {
    width: 100%;
    transition: .4s ease;
}
.card .card-content h3 {
    color: black;
    font-size: 22px;
    margin-top: 20px;
}
.card:hover .card-image {
    transform: scale(1.02)
               rotate(-3deg)
               translateX(-5px);
}
.card .card-content p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(78, 77, 77);
}
.card .card-content button {
    cursor: pointer;
    color: azure;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background-color: rgb(240, 187, 54);
}
@media (max-width: 1280px) {
    body {
        height: unset;
        padding: 30px 0;
        justify-content: center;
    }
    .container .card {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container .card {
        margin: 20px;
    }
}
