* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(245, 239, 206);
    padding: 1rem;
}
.feedback-container {
    background: linear-gradient(135deg, #f06, #ffbc00);
    padding: 3rem;
    border-radius: 1rem;
    box-sizing: 0 8px 20px rgb(3, 3, 3);
    text-align: center;
    max-width: 450px;
    width: 100%;
    color: white;
}
.feedback-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;   
}
.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.input-group input,
.input-group textarea {
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    background: #fff;
    color: #333;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inse 2px 2px 5px rgba(255, 255, 255, 0.7);
    outline: none;
    transition: 0.3s;
}
.iput-group input:focus,
.input-group textarea:focus {
    background: #f1f1f1;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inse 2px 2px 5px rgba(255, 255, 255, 0.5);
}
.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.stars input {
    display: none;
}
.stars label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}
.stars input:checked ~ label {
    color: #ffbc00;
}
.stars label:hover,
.stars label:hover ~ label {
    color: #ffbc00;
}
.submit-btn {
    width: 100%;
    background: #ffbc00;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background: #e68900;
}
.form-footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ddd;
}
.form-footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.form-footer a:hover {
    text-decoration: underline;
}
@media screen {
    .feedback-container {
        padding: 2rem 1.5rem;
    } 
    .feedback-container h2 {
        font-size: 1.5rem;
    } 
    .stars label {
        font-size: 1.5rem;
    }
    .stars-btn {
        font-size: 0.95;
    }
}