body {
    background-color: rgb(161, 161, 252);
    text-align: center;
}
header {
    text-align: center;
}
table, th, td {
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
table {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: auto;
    padding: 20px;
}
caption {
    caption-side: top;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
tr:nth-child(even) {
    background-color: rgb(196, 194, 194);
}
tr:hover {
    background-color: rgb(187, 27, 255);
}
thead {
    background-color: rgb(46, 46, 46);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.table-responsive {
    overflow-x: auto;
}
@media  (max-width: 480px) {
    .table, th, td{
        display: block;
        overflow-x: auto;
    }
}