body {
    text-align: center;
    background-color: rgb(201, 253, 110);
}
h1 {
    text-decoration: underline;
    text-align: center;
}
img {
    height: 250px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 30px;
}
p {
    text-align: left;
    margin-bottom: 50px;
}
h2 {
    text-decoration-line: line-through;
    text-transform: uppercase;
    font-weight: inherit;
    font-display: swap;
    background-color: blue;
    color: white;
    display: inline-block;
    margin-bottom: 40px;
}
h4 {
    text-align: left;
    font-size: larger;
    color: rgb(252, 1, 1);
}
img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
}
h2:hover {
    transform: scale(1.02);
}
h1:hover {
    transform: scale(1.02);
}